{% extends 'base.html' %}
{% block body %}
<div class="container" id="main">
<div class="row align-items-start">
	<div class="col-md-4">
		{% for group in groups %}
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">{{group.group_name}}</h5>
					<p class="card-text">{{group.description}}</p>
					<a href="/group/{{group.id}}/" class="btn btn-primary">See Group</a>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="col-md-4">
		<div class="card" id="list" style="width: 23rem;">
			<div class="card-body">
				<h5 class="card-title">Form a group</h5>
				<p>Add all members of your group and a guide/mentor who can help you whenever you need any.</p>
				<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#group" aria-expanded="false" aria-controls="collapseExample">Create Group</button>
				<div class="collapse" id="group">
					<div class="card card-body">
						<form action="/create_group/" method="POST">
							{% csrf_token %}
							<div class="form-group">
								<input type="text" name="group name" placeholder=" enter your group name"><br><br>
								<textarea type="text" cols=30 rows=2 name="description" placeholder="  description about your group"></textarea><br><br>
								<input type="number" id="myNumber" name="guide/s" placeholder="guides" min="1" max="5"><br><br>
								<input type="number" id="myNumber" name="member/s" placeholder="members" min="1" max="20"><br><br>
								<button type="submit" class="btn btn-md btn-dark">Create a Group</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
	</div>
</div>
{# <a href="/create_group/"><button class="btn btn-md btn-secondary"></button></a> #}
{% endblock %}



