{% extends "base.html" %}
{% block nav %}
{% endblock %}
{% block body %}
	<br>
	<br>
	<div class="jumbotron jumbotron-fluid home">
		<div class="container">
			<h1 class="display-4">Welcome to AntHill</h1>
			<p class="lead">With today’s technology, connecting with people and working with each other is simpler than ever. This new app is all about putting the power of connection into the hands of every small group leader in your church. If you lead a small group, this one’s for you.</p>
		</div>
	</div>
{% endblock %}