{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="profile" id="details" style="color:white;">
	<fieldset>
		<h4 class="section_title">Personal information</h4>
		<dl id="personal_info">
			<dt class="top">Name</dt>
			<dd class="ajax_edit_cell">
				<span class="data">{{user.username}}</span> 
			</dd>
		</dl>
		<div id="login_info">
			<dl>
				<dt style="font-family: "Times New Roman", Times, serif;">Email</dt>
				<dd><span class="data">{{user.email}}</span>
				</dd>
			</dl>
		</div>
		{% for u in update %}
		<div id="update_info">
			<dl>
				<dt>Updates</dt>
				<dd class="ajax_edit_cell">
					<span class="data">{{u.title}}</span>
				</dd>
			</dl>
		</div>
		{% endfor %}
	</fieldset>
</div>

{% endblock %}
